/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

.insidepage{
  background-color:white;
  padding: 40px;
  margin:130px;
  border-radius: 30px;
  --font-paragraph: 16px;
  --font-header: 32px;
  --font-sub-header: 24px;
  --fw-regular: 400;
  --fw-bold: 600;
  --fw-black: 700;
}

body {
  background-color:var(--clr-stone100);
  margin: auto;
  justify-content: center;
 
}   

img {
  align-items: center;
  margin:auto;
  padding: 0px;
  border-radius: 20px;
  margin-bottom: 20px;  
}

h3 {
  color:var(--clr-rose800)
}


 .preparation{
  background-color:var(--clr-rose50);
  width: 600px;
  border-radius: 10px;
  padding:25px;
  line-height: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--clr-stone600);

}

h2 {
  color: var(--clr-rose800);
}

.ingredients{
margin: px;
line-height: 35px;
margin-bottom: 25px;
color:var(--clr-stone600)
}


ul ::marker{
  color:var(--clr-rose800);
  font-weight: bold;
}

ol ::marker {
  color:var(--clr-rose800);
  font-weight: bold;
}
h2 {
  margin-top: 25px;
}


.instructions{
  padding: 0px;
  margin: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--clr-stone600);
    
}


table{
  width: 80%;
  margin: 20px auto;
  color:var(--clr-stone600);
}

th, td{
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

th, td ::marker{
  color:var(--clr-rose800)
}




/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }